# Deployment & CORS
ENVIRONMENT=development
ALLOWED_DOMAINS=

# Throttling
RATE_LIMIT=
RATE_BURST=

# ssl certificates
ENABLE_TLS=
TLS_CERT=
TLS_KEY=

# db 
DB_DRIVER=postgres
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_ENABLE_SSL=

# keycloak
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_SECRET=
KEYCLOAK_TOKEN=

# jwt
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=